body {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("antelopecanyon.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;

}

html {
    height: 100%;
    min-height: 100%;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(1, 1, 1, 0.4);
}

.content {
    font-family: 'Roboto-mono', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#main {
    font-size: 265%;
}


.text {
    font-size: 160%;
    color: white;
}

#intro-icons {
    margin: 0 auto;
    padding-top: 10px;
}

.fa {
    display: block;
    margin-right: 20px;
    color: white;
}

.ai {
    display: block;
    margin-right: 20px;
    color: white;
}

.fa-stack-overflow:hover {
    color: #0077b5;
}

.ai-google-scholar:hover {
    color: #0077b5;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-quote-right:hover {
    color: #0077b5;
}

.fa-github:hover {
    color: #0077b5;
}

.fa-instagram:hover {
    color: #0077b5;
}

.fa-calendar:hover {
    color: #0077b5;
}

.fa-envelope:hover {
    color: #0077b5;
}

.fa-file-text-o:hover {
    color: #0077b5;
}

.blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: red;
    }

    49% {
        color: red;
    }

    60% {
        color: transparent;
    }

    99% {
        color: transparent;
    }

    100% {
        color: red;
    }
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
